:root {
  --font: "Open Sans", serif;
  --primary-color: #fe734cee;
  --primary-hover-color: #FE724C;
  --white-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #5B5B5E;
  --separator-color: #D4D6E0;
}

body {
  font-family: "Open Sans", serif;
}